.background-pizza {
    width: 1786.05px;
    height: 1610.3px;
    position: absolute;
    top: -242px;
    left: 746.45px;
    opacity: 50%;
    rotate: 7.67deg;
}

.parrafo-inicio {
    font-size: 32px;
}