#root {
  /*max-width: 1280px;*/
  /*width: 100%;
  margin: 0 auto;*/
  /*padding: 2rem;*/
}

body {
  background: linear-gradient(180deg, #2E2E2E 0%, #262525 100%);
  margin: 0;
  padding: 0;
}

.texto-amarillo {
  color: var(--primary) !important;
}

.texto-blanco {
  color: #FFFDFB !important;
}

.texto-negro {
  color: #000302 !important;
}