#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-image: linear-gradient(#2E2E2E 100%, #262525 0%);
}

.texto-amarillo {
  color: #FFA500 !important;
}

.texto-blanco {
  color: #FFFDFB !important;
}